<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Health-Blogs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col size-sm="12">
            <ion-card>
              <img src="assets/img/Core_traing@3x.png">
              <ion-card-header>
                <ion-card-title >Beast mode Abs Training</ion-card-title>
                <ion-card-subtitle float-right> By: Alexander VanHouten</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="ion-justify-content-around ion-margin-top">
                <div class="desc">
                  There’s something to be said of the tried-and-true methodologies that are easy to follow and generally don’t require much tracking to see progress.
                </div>
              </ion-card-content>
              <div >
                  <button class="browser-button" ion-button (click)="coreBrowser()"> CONTINUE READING</button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-sm="12">
              <ion-card>
                <img src="assets/img/Strength_training@3x.png">
                <ion-card-header>
                  <ion-card-title >Enhance Your Strength</ion-card-title>
                  <ion-card-subtitle float-right> By: Staci Ardison</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="ion-justify-content-around ion-margin-top">
                  <div class="desc">
                    If you want to lose weight, gain muscle, and/or just look and feel better, strength training will do just that. 
                  </div>
                </ion-card-content>
                <div >
                    <button class="browser-button" ion-button (click)="strengthBrowser()"> CONTINUE READING</button>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size-sm="12">
                <ion-card>
                  <img src="assets/img/Muscle_training@3x.png">
                  <ion-card-header>
                    <ion-card-title >Muscle growth Training</ion-card-title>
                    <ion-card-subtitle float-right>By: Runtastic Team </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content class="ion-justify-content-around ion-margin-top">
                    <div class="desc">
                        Muscle growth is influenced by genetics. Some people build muscle easier than others.
                        But, no matter what your genetics are like, you can have a more muscular 
                        body if you structure your workouts with these steps.
                    </div>
                  </ion-card-content>
                  <div >
                      <button class="browser-button" ion-button (click)="muscleBrowser()"> CONTINUE READING</button>
                  </div>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="12">
                  <ion-card>
                    <img src="assets/img/Fat_loss_trainng@3x.png">
                    <ion-card-header>
                      <ion-card-title >Burn Fat Workouts</ion-card-title>
                      <ion-card-subtitle float-right>By: Vicky Hadley </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content class="ion-justify-content-around ion-margin-top">
                      <div class="desc">
                        If you find yourself feeling lost at the constant changes and debates over what exercises and diets 
                        are the best for burning fat, you’re not alone. Working out regularly with little to no results can 
                        be very off-putting, draining, as well as time consuming.
                      </div>
                    </ion-card-content>
                    <div >
                        <button class="browser-button" ion-button (click)="fatLossBrowser()"> CONTINUE READING</button>
                    </div>
                  </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size-sm="12">
                    <ion-card>
                      <img src="assets/img/Yoga_training]@3x.png">
                      <ion-card-header>
                        <ion-card-title > Yoga Can Lift Your Spirits</ion-card-title>
                        <ion-card-subtitle float-right>By: Bhavan Kumar</ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content class="ion-justify-content-around ion-margin-top">
                        <div class="desc">
                            Yoga is now becoming more and more popular. It is not just a trend, 
                            but a lifestyle movement that’s swept the world. It is reported 
                            that at least 7.5% of American adults have tried yoga once. 
                        </div>
                      </ion-card-content>
                      <div >
                          <button class="browser-button" ion-button (click)="yogaBrowser()"> CONTINUE READING</button>
                      </div>
                    </ion-card>
                  </ion-col>
                </ion-row>
    </ion-grid>

</ion-content>
