<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-back-button (click)="back()"></ion-back-button>
        </ion-buttons>
      <ion-title text-center>MUSCLE GAIN</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="12">
          <div class="blog-header">
            <h2 text-center class="ion-text-nowrap" class="blog-name">MUSCLE GAIN</h2>
            <h6 text-center class="ion-text-nowrap" style="font-weight: 600">By: Runtastic Team  </h6>
           
          </div>
          <div class="underline"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row style="margin-top: 5%;">
      <ion-col size-sm="12" style="margin: 0; padding: 0;">
        <img src="assets/img/blog3.PNG" height="100%" width="100%">
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-sm="12" class="ion-margin">
          <p class="para-txt">Do you find yourself wondering how to build muscle the right way?</p>
          <h5 class="para-title">HOW MUSCLE GROWTH WORKS</h5>
          <p class="para-txt">Maybe you tried different types of workouts and felt an increase in strength but never saw an improvement in muscle mass… So you lost your motivation after a few weeks and quit. If you keep pushing yourself long enough, your body adapts to new training stimuli, and muscles start to grow.</p>
  
          
        <h5 class="para-title">WORKOUT TIPS FOR MUSCLE BUILDING</h5>
        <p class="para-txt">2-3 strength workouts per week are recommended for beginners. If you are more advanced, you can do even more.</p>
        <p class="para-txt">For beginners: 24 hours of rest is enough after a shorter 30 min, total body workout. However, if you do a workout focused on just one muscle group, such as legs, wait 48 hours before you do a leg-focused workout again. You can do a shorter, low-intensity total body workout in the meantime. For advanced trainers: Rest 1-2 days a week, ideally after the longest and/or most intense workouts.</p>
        <p class="para-txt">2 to 3 sets per exercise is enough for beginners, whereas those who are more advanced can do 3-5 or more sets. The biggest mistake you can make is to try building muscle without a workout plan! Muscle growth requires a constant, gradual increase in workout load. A good training plan can calculate the sets and reps for you so you can see results – even at home!</p>
       <h5 class="para-title">DIET TIPS FOR MUSCLE BUILDING</h5>
       <p class="para-txt">Protein is the building block for your muscles. How much protein you eat in total throughout the day matters more than what you eat directly after the workout. Keep in mind: the body can only absorb about 20 g of protein per meal, so no need to stuff yourself at every meal!</p>
       <p class="para-txt">To gain weight (muscle or fat) you need to eat slightly more calories than you burn. Check out how to gain weight healthily, without overeating or getting fat.</p>
       <p class="para-txt">But what if you already have a solid amount of muscle mass and it’s just not visible? Many people just want to appear more muscular, not necessarily add more weight. Maybe you want to have a six-pack but your abs are not showing? Then you should focus on losing fat to reveal your muscles, not increase your calories.</p>
      </ion-col>
      </ion-row>
  </ion-content>
