<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-back-button (click)="back()"></ion-back-button>
        </ion-buttons>
      <ion-title text-center>Yoga</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="12">
          <div class="blog-header">
            <h2 text-center class="ion-text-nowrap" class="blog-name">How Yoga Can Lift Your Spirits</h2>
            <h6 text-center class="ion-text-nowrap" style="font-weight: 600">By: Bhavan Kumar </h6>
           
          </div>
          <div class="underline"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row style="margin-top: 5%;">
      <ion-col size-sm="12" style="margin: 0; padding: 0;">
        <img src="assets/img/blog5.PNG" height="100%" width="100%">
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-sm="12" class="ion-margin">
          <p class="para-txt">Yoga is now becoming more and more popular. It is not just a trend, but a lifestyle movement that’s swept the world. It is reported that at least 7.5% of American adults have tried yoga once. Additionally, there are at least 4% that have practiced it within the past year. Those may seem like small percentages, but that’s a lot of people!</p>
          <p class="para-txt">The great thing about yoga is that it can be modified for people of all ages and athletic ability. They can be both gentle and challenging. It is largely up to you. There is a style to fit the needs of just about any individual. Hatha yoga is the most common practice style of yoga in the States. Hatha combines physical poses, which are known as asanas, with controlled breathing exercises and periods of meditation.</p>
          
          <h5 class="para-title">Yoga Basics</h5>
          <p class="para-txt">Breath control is a crucial component of practicing yoga. You’d be surprised by how poor your breath control may be. By controlling your inhalation and exhalation, you can be aware of the present moment and help calm the intrusive thoughts that attack your mental wellbeing. Meditation is another important aspect of yoga. Meditation helps clear your mind of any unwanted thoughts while working on your ability to be mindful.</p>
          <h5 class="para-title">Yoga as Anxiety Relief</h5>
          <p class="para-txt">Yoga also works as a natural form of anxiety relief. Certain yoga poses and practices can help reduce stress triggers, which is beneficial for individuals dealing with anxiety or depression. Yoga works through the same neural pathways to balance your mood in the same way that meditation, relaxation, and exercise do. You should think of it as a combination of those three actions to lift your spirits.</p>
          <h5 class="para-title">Yoga and Stress Response</h5>
          <p class="para-txt">In an article released by the Harvard Medical School in 2009, it noted that the University of Utah conducted a study reviewing the effects of yoga on an individual’s stress response by looking at their pain threshold. The medical researchers at the university found that the participants that had a poor level of stress response also had increased pain sensitivity. The study included 14 participants with fibromyalgia, 16 healthy people, and 12 experienced yogis. If you weren’t aware, fibromyalgia is an illness that relates to stress and hypersensitivity to pain. These three groups were placed under painful thumbnail pressure and their responses were recorded.</p>
          <h5 class="para-title">Can Yoga Help Release Negative Energy?</h5>
          <p class="para-txt">Hatha Yoga is essentially a physical art that has brought a host of benefits to many people. Whether you’re thinking of taking classes at the gym, buying tapes for home practice or enjoying yoga at the library or in the park, you may wonder if this practice can help you to release negative energy. The short answer is that it can. Learning more about yoga and its benefits can help you to better understand its ameliorative qualities.</p>
          <h5 class="para-title">Mental Release</h5>
          <p class="para-txt">In addition to potentially alleviating issues associated with mental health, yoga can also provide you with a mental release. Select a class that you don’t need to rush to and that fits in with your schedule. By integrating this approach and taking the yoga class, you can find yourself with a mind cleared of the struggles of the day. Of course, you must return to these situations once the class has ended, but you can return with a fresh perspective. Yoga can provide you with the mental clarity needed to better tackle challenges that seemed entirely intractable before.</p>
          <h5 class="para-title">Sense of Accomplishment</h5>
          <p class="para-txt">Think about how creating positive energy helps to eliminate the negative energy and lift your spirits. One of the ways that you can create positive energy for yourself is buy having a sense of accomplishment. Whether you are proud of yourself for taking the initiative to join a new class or you are seeing major improvements since you first started taking yoga classes, you can feel a strong sense of accomplishment. Knowing that you have conquered new goals is enough to get rid of negative energy you are feeling and replace those vibes with positive emotions.</p>
        
          <p class="para-txt">Yoga can certainly help to release negative energy. Of course, you want to make sure that you are putting in the necessary effort and finding a class that matches up with your needs. Simply making the effort to go to a yoga class can have positive effects on your entire life in both the long and short term.</p>

        
      </ion-col>
      </ion-row>
  </ion-content>
