<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-back-button (click)="back()"></ion-back-button>
        </ion-buttons>
      <ion-title text-center>Fat-Burn</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="12">
          <div class="blog-header">
            <h2 text-center class="ion-text-nowrap" class="blog-name">Best exercises to burn fat</h2>
            <h6 text-center class="ion-text-nowrap" style="font-weight: 600">By: Vicky Hadley </h6>
           
          </div>
          <div class="underline"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row style="margin-top: 5%;">
      <ion-col size-sm="12" style="margin: 0; padding: 0;">
        <img src="assets/img/blog4.PNG" height="100%" width="100%">
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-sm="12" class="ion-margin">
          <p class="para-txt">If you find yourself feeling lost at the constant changes and debates over what exercises and diets are the best for burning fat, you’re not alone. Working out regularly with little to no results can be very off-putting, draining, as well as time consuming.</p>
          <p class="para-txt">Ultimately, the best way to burn fat is to ensure that your calorie consumption is less than the number of calories you are burning through exercise. This means that you need to make sure you are eating less than you are burning. To prevent hours of prolonged cardio, (albeit in smaller doses it can be very beneficial), you want to be aiming for the exercises and exercise methods that burn the most calories in the minimum amount of time to help you achieve the body you are after.</p>
          <p class="para-txt">Here are eight of the best:</p>
          <h5 class="para-title">1. Squats</h5>
          <p class="para-txt">Squats are a compound movement which means that it involves using more than one muscle at one time. Squats activate the quads, hamstrings, knees, ankles, glutes and hip joints whilst being performed.</p>
          <h5 class="para-title">2. Deadlifts</h5>
          <p class="para-txt">The deadlift, much like the squat, is another brilliant exercise. This is due to the fact it is one of the best compound exercises around as it involves nearly every major muscle group in the body meaning that it will have a much higher energy expenditure – and a higher energy expenditure means a higher calorie burn. Start with dumbbells in each hand and work up to using a barbell.</p>
          <h5 class="para-title">3. Kettlebell swings</h5>
          <p class="para-txt">Kettlebell swings are definitely not one to avoid. These powerful movements activate your glutes and quads whilst quickly building up your heart rate. A study carried out by the University of Wisconsin showed that during a 20 minute kettlebell workout participant's heart rates rose to 93% of their maximum rate and with it burnt 20.2 calories per minute – wow!</p>
          <h5 class="para-title">4. HIIT on cardio machines</h5>
          <p class="para-txt">We all have heard of the benefits of HIIT (high intensity interval training) by now – if you haven’t you must have hiding been under a rock! But you may not yet know that the real benefits of HIIT can arise from interval training, such as those performed on cardio machines. For example, doing sprints of the treadmill or rowing machine can result in a higher energy expenditure than slow steady state cardio.</p>
          <h5 class="para-title">5. Burpees</h5>
          <p class="para-txt">Burpees are many of our worst nightmares when it comes to HIIT training and with their impressive calorie burning properties it’s no surprise why. Burpees combine a plank, push up, squat and jump into one exercise – so next time you only have five minutes spare to workout you know what to do! </p>
          <h5 class="para-title">6. Box squat jumps</h5>
          <p class="para-txt">Oh, and we’re back to the squat once again. Only this time we are adding a heart racing jump into the equation. Plyometric exercises (a powerful movement which often involves a jump) such as the squat jump is excellent at stimulating the fast twitch muscle fibres of the body. We have both slow and fast twitch muscle fibres in our bodies, both which play an important role in exercising. </p>
          <h5 class="para-title">7. Walking lunges</h5>
          <p class="para-txt">Walking lunges are another brilliant calorie burner. Combining resistance work (when weights such as dumbbell are used) with cardio it revs up your metabolism. The heavier the dumbbells the more energy you expend. </p>
          <h5 class="para-title">8. Battle ropes</h5>
          <p class="para-txt">The battle ropes work at toning and building lean muscle in your shoulders and arms as well as activating the core simultaneously. Try doing a HIIT workout and changing the style of your technique between whipping the ropes together, one at a time and rotating them in outward circles to keep it fun and different.</p>

        
      </ion-col>
      </ion-row>
  </ion-content>
