<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Programs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12">
        <ion-card class="program-card">
          <img src="assets/img/Core@3x.png">
          <ion-card-header>
            <ion-card-title >Core Training</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-justify-content-around ion-margin-top">
            <div class="desc">
              <span>Ensuring your core is strong and flexible will help you in the gym, 
                playing sports or just going about your daily business. A strong core will
                 also help you maintain good posture and avoid issues like lower back pain.
                 Basically, core exercises are a must for any fitness routine.</span><br>
                 <span>The 7 most important exercises included in this routine are not only appropriate for 
                  novice and advanced athletes, they take little more than 20 minutes to complete.
                These are Plank, Side Plank, V-Sit Pose, Bicycle Crunch, The Bridge, Push-Up Lat Row
              Skip With a Twist. If you want to know more about these exercise press on the below button.
              </span>
            </div>
          </ion-card-content>
          <div >
              <button class="browser-button" ion-button (click)="getVideos('Core Workouts')"> CONTINUE READING</button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-sm="12">
          <ion-card class="program-card">
            <img src="assets/img/Strength@3x.png">
            <ion-card-header>
              <ion-card-title >Strength Training</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-justify-content-around ion-margin-top">
              <div class="desc">
                <span>Ensuring your core is strong and flexible will help you in the gym, 
                  playing sports or just going about your daily business. A strong core will
                   also help you maintain good posture and avoid issues like lower back pain.
                   Basically, core exercises are a must for any fitness routine.</span><br>
                   <span>The 7 most important exercises included in this routine are not only appropriate for 
                    novice and advanced athletes, they take little more than 20 minutes to complete.
                  These are Plank, Side Plank, V-Sit Pose, Bicycle Crunch, The Bridge, Push-Up Lat Row
                Skip With a Twist. If you want to know more about these exercise press on the below button.
                </span>
              </div>
            </ion-card-content>
            <div >
                <button class="browser-button" ion-button (click)="getVideos('Strength Workouts')"> CONTINUE READING</button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size-sm="12">
            <ion-card class="program-card">
              <img src="assets/img/Muscle@3x.png">
              <ion-card-header>
                <ion-card-title >Muscle Training</ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-justify-content-around ion-margin-top">
                <div class="desc">
                  <span>Ensuring your core is strong and flexible will help you in the gym, 
                    playing sports or just going about your daily business. A strong core will
                     also help you maintain good posture and avoid issues like lower back pain.
                     Basically, core exercises are a must for any fitness routine.</span><br>
                     <span>The 7 most important exercises included in this routine are not only appropriate for 
                      novice and advanced athletes, they take little more than 20 minutes to complete.
                    These are Plank, Side Plank, V-Sit Pose, Bicycle Crunch, The Bridge, Push-Up Lat Row
                  Skip With a Twist. If you want to know more about these exercise press on the below button.
                  </span>
                </div>
              </ion-card-content>
              <div >
                  <button class="browser-button" ion-button (click)="getVideos('Muscle Workouts')"> CONTINUE READING</button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-sm="12">
              <ion-card class="program-card">
                <img src="assets/img/Fat_loss@3x.png">
                <ion-card-header>
                  <ion-card-title >Fat Loss Training</ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-justify-content-around ion-margin-top">
                  <div class="desc">
                    <span>Ensuring your core is strong and flexible will help you in the gym, 
                      playing sports or just going about your daily business. A strong core will
                       also help you maintain good posture and avoid issues like lower back pain.
                       Basically, core exercises are a must for any fitness routine.</span><br>
                       <span>The 7 most important exercises included in this routine are not only appropriate for 
                        novice and advanced athletes, they take little more than 20 minutes to complete.
                      These are Plank, Side Plank, V-Sit Pose, Bicycle Crunch, The Bridge, Push-Up Lat Row
                    Skip With a Twist. If you want to know more about these exercise press on the below button.
                    </span>
                  </div>
                </ion-card-content>
                <div >
                    <button class="browser-button" ion-button (click)="getVideos('Fat-loss Workouts')"> CONTINUE READING</button>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size-sm="12">
                <ion-card class="program-card">
                  <img src="assets/img/Yoga@3x.png">
                  <ion-card-header>
                    <ion-card-title >Yoga Training</ion-card-title>
                  </ion-card-header>
                  <ion-card-content class="ion-justify-content-around ion-margin-top">
                    <div class="desc">
                      <span>Ensuring your core is strong and flexible will help you in the gym, 
                        playing sports or just going about your daily business. A strong core will
                         also help you maintain good posture and avoid issues like lower back pain.
                         Basically, core exercises are a must for any fitness routine.</span><br>
                         <span>The 7 most important exercises included in this routine are not only appropriate for 
                          novice and advanced athletes, they take little more than 20 minutes to complete.
                        These are Plank, Side Plank, V-Sit Pose, Bicycle Crunch, The Bridge, Push-Up Lat Row
                      Skip With a Twist. If you want to know more about these exercise press on the below button.
                      </span>
                    </div>
                  </ion-card-content>
                  <div>
                      <button class="browser-button" ion-button (click)="getVideos('Yoga Workouts')"> CONTINUE READING</button>
                  </div>
                </ion-card>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>
