<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Programs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12">
        <ion-card class="program-card">
          <img src="assets/img/Core@3x.png">
          <ion-card-header>
            <ion-card-title >Core Training</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-justify-content-around ion-margin-top">
            <div class="desc">
              <span>Ensuring your core is strong and flexible will help you in the gym, 
                playing sports or just going about your daily business. A strong core will
                 also help you maintain good posture and avoid issues like lower back pain.
                 Basically, core exercises are a must for any fitness routine.</span><br>
                 <span>The 7 most important exercises included in this routine are not only appropriate for 
                  novice and advanced athletes, they take little more than 20 minutes to complete. If you want to know more about these exercise press on the below button.
              </span>
            </div>
          </ion-card-content>
          <div >
              <button class="browser-button" ion-button (click)="getVideos('Core Workouts')"> CONTINUE READING</button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-sm="12">
          <ion-card class="program-card">
            <img src="assets/img/Strength@3x.png">
            <ion-card-header>
              <ion-card-title >Strength Training</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-justify-content-around ion-margin-top">
              <div class="desc">
                <span>A strong body does more than give you bragging rights at the gym, although that's a definite side benefit. 
                  You're less likely to be injured when you get strong, you’ll also fatigue a lot less quickly, 
                  and stand with better posture. Plus, strength and shapely muscles often go hand in hand.</span><br>
                  <span>While there are thousands of exercises out there, many are variations on a few basic moves such as squats, 
                      deadlifts, and shoulder presses. The foundation of any strength workout is compound movements, which involve 
                      multiple joints of the body and, therefore, multiple muscles. </span>
              </div>
            </ion-card-content>
            <div >
                <button class="browser-button" ion-button (click)="getVideos('Strength Workouts')"> CONTINUE READING</button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size-sm="12">
            <ion-card class="program-card">
              <img src="assets/img/Muscle@3x.png">
              <ion-card-header>
                <ion-card-title >Muscle Training</ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-justify-content-around ion-margin-top">
                <div class="desc">
                  <span>More strength is more muscle. The heavier the weights you lift, the stronger your body becomes, and the bigger your muscles grow. 
                    Your muscles increase in size so they can lift heavier weights. This is why strength is size – lift heavy weights 
                    and you’ll gain muscle mass naturally. </span><br>
                     <span>The heavier the weight you lift, the bigger the stress on your body, and the bigger the stimulus to grow stronger and bigger muscles. 
                       You lift big, you get big.
                  </span>
                </div>
              </ion-card-content>
              <div >
                  <button class="browser-button" ion-button (click)="getVideos('Muscle Workouts')"> CONTINUE READING</button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-sm="12">
              <ion-card class="program-card">
                <img src="assets/img/Fat_loss@3x.png">
                <ion-card-header>
                  <ion-card-title >Fat Loss Training</ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-justify-content-around ion-margin-top">
                  <div class="desc">
                    <span>Before we really get into it, weight loss as a goal isn't necessarily for everyone. 
                      For anyone who has a history of disordered eating, even if you're in recovery, you should speak 
                      with a doctor before you pursue any weight-loss goal, including starting a new exercise routine. 
                      And even if you don't have a history of disordered eating, it's really important to have realistic 
                      expectations and make sure you're pursuing weight loss in a healthy way. 
                    </span>
                  </div>
                </ion-card-content>
                <div >
                    <button class="browser-button" ion-button (click)="getVideos('Fat-loss Workouts')"> CONTINUE READING</button>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size-sm="12">
                <ion-card class="program-card">
                  <img src="assets/img/Yoga@3x.png">
                  <ion-card-header>
                    <ion-card-title >Yoga Training</ion-card-title>
                  </ion-card-header>
                  <ion-card-content class="ion-justify-content-around ion-margin-top">
                    <div class="desc">
                      <span>Yoga's physical, emotional, and mental benefits are inextricably linked.Stretches help to release 
                        pent-up tensions, while strength-building poses boost body confidence plus, holding a pose for a 
                        minute or more improves your focus and gives you the opportunity for spiritual insight. Yoga is a 
                        great addition to any fitness routine. It's totally possible, though, to incorporate
                         strength training into a yoga workout too.</span><br>
                         <span>Here we are giving some reference for best yoga positions, go forward and watch it.
                      </span>
                    </div>
                  </ion-card-content>
                  <div>
                      <button class="browser-button" ion-button (click)="getVideos('Yoga Workouts')"> CONTINUE READING</button>
                  </div>
                </ion-card>
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>
