<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Health-Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12">
        <ion-card>
          <img src="assets/img/1@3X.png">
          <ion-card-header>
            
            <ion-card-title>Diet</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-justify-content-around">
            <div  class="desc">
              To stay fit, there should be a balance in our regular diet. We have to maintain our meal plans
              with the proper amount of food quantity and require proper amount of nutrition. 
               Which can save us from illness and gives us healthy and fit-life.
               <br>
               If you think that you can lose your weight by eating less, you think wrong.
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="12">
        <ion-card>
          <img src="assets/img/2@3X.png">
          <ion-card-header>
         
            <ion-card-title>Routine</ion-card-title>
          </ion-card-header>
          <ion-card-content>
           <div  class="desc">
            We have to maintain our lifestyles by doing some home based easy workouts like yoga, walkin, running, normal
            exercises on daily basis. 300 ml of milk/milk products are needed to be divided into two or three doses in a day. Every healthy person should take 8 hours of deep or tight sleep.
            Avoid depression and stress, these are the enemies of sleep. Take water as much as possible. 
           </div>
           
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="12">
        <ion-card>
          <img src="assets/img/do@3x.png">
          <ion-card-header>
            
            <ion-card-title>Things to do</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div  class="desc">
                Take vitamins, calories, carbohydrate and proteins according to the daily needs of the body.
                Take plenty of green vegetables. To stay fit, exercise should also be done regularly like food.
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="12">
        <ion-card>
          <img src="assets/img/dont@3x.png">
          <ion-card-header>
            <ion-card-title>Things not to do</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div  class="desc">
                Do not take too much salt, fried masala in your meals. We should strictly avoid all fried foods, no junk, street foods, processed foods, 
                oily foods. It contain trans-fats and too much-saturated fats. Do not try to take stress and late night works it will creates tired face,
                dull skin, and premature greying of hair.
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
