<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button (click)="back()"></ion-back-button>
        </ion-buttons>
    <ion-title text-center>{{text}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="video_page ">
    <ion-list class="channel_list" *ngFor="let videos of videos">
        <ion-grid style="position: relative; padding: 0%; margin: 0%;">
          <ion-row>
            <ion-col size-sm="12" style="padding: 0%; margin: 0%;">
                <img class="img-thumbnail" [src]="videos.snippet.thumbnails.medium.url">
                <button class="play-btn" ion-button>
                  <img class="img-btn" src="assets/icon/play@2x.png">
                </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
              <ion-col size-sm="12">
                  <h2 class="video-title">{{videos.snippet.title}}</h2>
                  <p class="descrptn">{{videos.snippet.description}}</p>      
          </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content class="scroll-content"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
