.scroll-content{padding: 16px 0 !important;}
    .channel_list{

        .col{
            h2{font-size: 14px;}
            p{font-size: 14px;}
        }
        .img{
            min-width: 90%;
            max-width: 100%;
        }
    }
