<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-back-button (click)="back()"></ion-back-button>
        </ion-buttons>
      <ion-title text-center>Strength Training</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="12">
          <div class="blog-header">
            <h2 text-center class="ion-text-nowrap" class="blog-name">Strength Training</h2>
            <h6 text-center class="ion-text-nowrap" style="font-weight: 600">By: Staci Ardison </h6>
           
          </div>
          <div class="underline"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row style="margin-top: 5%;">
      <ion-col size-sm="12" style="margin: 0; padding: 0;">
        <img src="assets/img/blog2.PNG" height="100%" width="100%">
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-sm="12" class="ion-margin">
          <h5 class="para-title">What are the Benefits of Strength Training?</h5>
          <p class="para-txt">Strength training increases bone density, builds a stronger heart, reduces your resting blood pressure, improves blood flow, halts muscle loss, helps control blood sugar, improves cholesterol levels, and improves your balance and coordination.       </p>
          <p class="para-txt">When you finish a workout, your body needs to do a lot of work to replenish itself in order to bring itself back to a normal state (the way it was before you worked out). This takes a lot of energy, and some studies have shown that it can boost your metabolism for up to 38 hours after you finish your workout./p>
          
        <h5 class="para-title">Who SHOULDN’T strength train?</h5>
        <p class="para-txt">Trying to be balanced, I wanted to find studies of a single group of people who should not strength train. But then I found studies on how strength training can be beneficial for paraplegics.I also found studies that show the benefits for children and adolescents.</p>
        <p class="para-txt">I next found plenty of studies that explain the benefits of strength training for pregnant women.</p>
        <p class="para-txt">And thus I’ve decided, not knowing you, you should probably strength train. Of course, check with your doctor before you start any sort of strength training program (though, as you’ll see below, strength training doesn’t need to be scary or complicated).</p>
       <h5 class="para-title">How to Start Strength Training Today: Next Steps:</h5>
       <p class="para-txt">If you’re ready to start, fantastic. We’d recommend a simple program to get your feet wet. You know, to learn the movements, build some confidence and prove to yourself that you can DO this!</p>
       <p class="para-txt">Work with a a professional Yoda! If you want confidence that you’re are following a program that is tailor-made for your busy life, situation, and goals, check out our popular 1-on-1 Coaching Program.</p>
       <p class="para-txt">You’ll work with a certified NF instructor who will get to know you better than you know yourself, keep you accountable, and help you reach your goals.</p>
      </ion-col>
      </ion-row>
  </ion-content>
