<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button (click)="back()"></ion-back-button>
      </ion-buttons>
    <ion-title text-center>Core and Abs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12">
        <div class="blog-header">
          <h2 text-center class="ion-text-nowrap" class="blog-name">Beast Mode Challenge</h2>
          <h6 text-center class="ion-text-nowrap" style="font-weight: 600">By: Alexander VanHouten</h6>
          <p text-center class="ion-text-nowrap" style="font-size: 14px;">"Master Trainer & Life Time Education Specialist"</p>
        </div>
        <div class="underline"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row style="margin-top: 5%;">
    <ion-col size-sm="12" style="margin: 0; padding: 0;">
      <img src="assets/img/blog1.PNG" height="100%" width="100%">
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size-sm="12" class="ion-margin">
        <h5 class="para-title">BEAST MODE CHALLENGE – Core Day</h5>
        <p class="para-txt">Are the same old workouts leaving you bored? Yes?</p>
        <p class="para-txt">I think most regular gym-goers can relate to that.</p>
        <p class="para-txt">There’s something to be said of the tried-and-true methodologies that are easy to follow and generally don’t require much tracking to see progress.</p>
        <p class="para-txt">Well, I previously issued a “call to legs and back” (see what I did there?) in our leg day and back day challenges. Here, I’m laying down another challenge for anyone who’s ready to take things up a notch.</p>
        <p class="para-txt">Welcome back to the Beast Mode Challenge: A scientifically superior program design created to exemplify the adaptations needed to let out your inner athlete in epic ways.</p>
      <h5 class="para-title">The Workout</h5>
      <p class="para-txt">Most people don’t know that the deadlift and squat activate the core up to 3x more than a crunch. Coupling these movements with core exercises and rest periods that elevate your breathing rate requires every muscle, from your ribs to your hips, to be deeply activated the whole time.</p>
      <p class="para-txt">Get ready to hurt when you laugh!</p>
      <p class="para-txt">You can almost feel the weakness leaving your body as you overcome each challenge with stubborn grit and a commitment to good form. Enjoy the rough sweat. You earned it. Now to relax.</p>
     <h5 class="para-title">Go Beast Mode</h5>
     <p class="para-txt">This workout challenge will push you to your limit and force your back through any plateaus you’ve recently encountered.</p>
     <p class="para-txt">I want to see you burn fat, grow muscle, get stronger, be tougher and really mean business.</p>
     <p class="para-txt">Set aside 90 minutes. Don’t skip the warm-up. Get help with form as needed. Fight hard through the discomfort of a REAL workout. And recover. Like. A. Boss.</p>
     <p class="para-txt">I believe in you.</p>
     <p class="para-txt">Let’s go BEAST MODE.</p>
    </ion-col>
    </ion-row>
</ion-content>
